body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    
}

#container{
    display: flex;
    flex-direction: column;
    /* border: 3px solid orange; */
}

header{
    /* border: 3px solid green; */
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#icon-pinterest a:focus{
    background: none;
}

nav{
    height: 70px;
    /* border: 2px solid red; */
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    position: fixed; 
}

nav a{
    text-decoration: none;
    color: black
}

nav a:focus{
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 15px;
}

nav img{
    border-radius: 100%;
    padding: 5px;
}

nav img:hover{
    background-color:  #d0d0d0;
    border:none;
}

nav img:focus{
    border: 3px solid aqua;
}

nav > *{
    padding: 5px 10px;
}

.finder{   
    border-radius: 30px;
    width: 820px;
    height: 40px;
    background-color: #e2e0e0;
    border: none;
    margin:5px;
}

.finder:hover{
    background-color: #d0d0d0;
    
    border:none;
}

.finder:focus{
    border: 3px solid aqua;
}

#pinterest{
    width: 35px;
    height: 35px;
}

#profile-img img{
    width: 25px;
    height: 25px;
}

#notifications img{
    width: 45px;
    height: 45px;
}

#message img{
    width: 35px;
    height: 35px;
}



/* Parte del Main - Content */

#content{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);   
    grid-gap: 15px;
    padding: 0px 50px 10px 50px
}

.card-image{
   /*  border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
}


.main-icons{
    display: flex;
    flex-direction: column;
    position: absolute;
    /* border: 2px solid blue; */
    border-radius: 30px;
    width: 220px;
    height: 240px;
    justify-content: space-between;
    padding: 5px;
    gap: 5px;
    opacity: 0;
}

.main-icons:hover{
    opacity: 1;
}





.card-image .icons{
    width: 35px;
    height: 35px;   
}



.icons-sub0{
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 5px;
}

.icons-sub0 a{
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #be2525;
    border-radius: 30px;
}

.icons-sub1{
    display: flex;
    align-items: end;
    justify-content: end;
    
}

.icons-sub1 img{
    padding: 5px;
}